# --------------------------
#      General Settings
# --------------------------
DEBUG=True
DJANGO_SECRET_KEY=

# --------------------------
#      Network Settings
# --------------------------
HOSTS=
CORS_ALLOWED=
CSRF_TRUSTED=
SESSION_DOMAIN=
USE_SSL=False

# -------------------------
#     Database Settings
# -------------------------
DB_NAME=
DB_USER=
DB_PASS=
DB_HOST=
DB_PORT=


# ------------------
#     GITHUB API
# ------------------
GH_USERNAME=Hyromy
GH_API_TOKEN=
